body{
    background-color: #F1F1F1;
  
    
}
.container{
    width: 1400px;
    margin: 0 auto;
  
 
}   
    header{
        margin-top: 20px;
    }     
.p1{
    margin-right: 35px;
    display: inline-block;
    color: #000;
font-family: Roboto;
font-size: 11px;
font-style: normal;
font-weight: 700;
line-height: normal;
vertical-align: middle;
}
.img1{
    display: inline-block;
    vertical-align: middle;
}
.s-1{
    margin-top: 50px;
}
h1{
    color: #000;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.card1{
    margin-right: 50px;
    display: inline-block;
    vertical-align: top;
}
.cardimg{
    margin-top: 20px;
    display: inline-block;
    
    z-index: -1;

}
.tbox{
    width: 362px;
    position: relative;
    display: inline-block;
   
   
}
.t{
    position: absolute;
	top: 40%;
	left: 40%;
	transform: translate(-50%,-50%);
    color: #FFF;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
    
}
.cardbottom{
    width: 362px;
    height: 171px;
    background-color: #ffffff;

}
.cardp{
    padding-left: 37px;
    padding-top: 68px;
    color: #8A8787;
font-family: Roboto;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.time{
    padding-left: 37px;
    padding-top: 8px;
    display: inline-block;
    vertical-align: bottom;
}
.bottomp{
    vertical-align: bottom;
    display: inline-block;
}
.card2{
    margin-right: 50px;
    vertical-align: top;
    width: 362px;
    position: relative;
    display: inline-block;
}
.cardimg2{
    margin-top: 20px;
     
  display: inline-block;
    z-index: -1;
}
.tp{
    position: absolute;
	top: 20%;
	left: 40%;
	transform: translate(-50%,-50%);
    color: #FFF;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;}
.card3{
    margin-right: 50px;
    vertical-align: top;
    width: 362px;
    position: relative;
    display: inline-block;
}
/* ---------------------------------------------s-2------------ */
.s-2{
    margin-top: 50px;
}
.h1{
    color: #000;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.s-2img{
    margin-top: 20px;
  display: block;

}
.s-2img2{
    display: block;
    margin-top: 20px;
}
.rightdiv{
display: inline-block;
margin-left: 40px;
vertical-align: middle;

}
.leftdiv{
    display: inline-block;
vertical-align: middle;
}
.timg1 , .timg2 , .timg3{
   
    display: block;
    width: 362px;
height: 212px;

}
.timg1{
    margin-bottom: 98px;
}
.timg2{
    margin-bottom: 100px;
}
footer{
    height: 200px;
    background-color: #243043;
    margin-top: 40px;
}
.footerp{
    color: #818687;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 12px;
margin-right: 75px;
}
.div1,.div2,.div3{
margin-top: 50px;
    display: inline-block;
    vertical-align: middle;
}
.div4{
    margin-left: 112px;
    display: inline-block;
    vertical-align: middle;
    
}
.lastp{
    color: #FFF;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.imgdiv{
    display: inline-block;
    margin-left: 592px;
}